
.mostrar-usuarios__tabla {
    width: 100%;
    border-collapse: collapse;
}

.mostrar-usuarios__tabla > tbody > tr > td {
    padding: 1rem;
    border: 1px solid black;
}

.mostrar-usuarios__tabla > thead > tr > th {
    padding-inline: 1rem;
    padding-block: 2rem;
    border: 1px solid black;
    background-color: green;
    color: white;
    margin-bottom: 2rem;
}

